.App {
  text-align: center;
}

.App-logo {
  height: 2.5em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  font-size: 2em;
  font-family: "Jost", sans-serif;
  color: #dddfe2;
  background-color: #40444b;

  border: 0.125rem solid transparent;
  border-radius: 1rem;

  padding: 1rem;

  outline: none;

  transition: border 100ms linear;
}

.input:focus {
  border: 0.125rem solid #dddfe2;
}
