html {
  font-size: 100%;
}

.title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-device-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
  justify-self: center;
  align-self: end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: grid;
  grid-template-columns: auto 20%;

  height: 4rem;

  max-width: 30rem;

  justify-self: center;
}

.input {
  height: 100%;

  font-size: 1.5rem;
  color: #dddfe2;
  background-color: #40444b;

  border: 0.25rem solid transparent;
  border-radius: 1rem;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  padding: 1rem;

  outline: none;

  transition: border 100ms linear;
}

.input:focus {
  border: 0.25rem solid #629bff;
}

.button {
  height: 100%;

  font-size: 1.5rem;
  font-weight: 600;
  color: #00000091;
  background-color: #dddfe2e0;

  border: 0.25rem solid transparent;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;

  padding: 1rem;

  outline: none;

  transition: border 100ms linear;

  cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
  .button {
    display: none;
  }
  .input {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.button:focus,
.button:active {
  border: 0.25rem solid #629bff;
}

.result {
  font-size: 1.5rem;

  color: white;
  font-weight: bold;

  border-radius: 0.5rem;
  padding: 1rem 2rem;

  width: 40rem;

  justify-self: center;

  transition: background-color 200ms linear;
}

@media only screen and (max-device-width: 768px) {
  .result {
    width: 100%;
  }
}

.result-success {
  background-color: #43b581;
}

.result-error {
  background-color: #f04747;
}

.result-loading {
  background-color: #7289da;
}

.result a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
